<h1>Reminders for <%= space.subdomain %></h1>

<ul>
  <% @reminders.each do |reminder| %>
    <li>
      <h3>
        <%= reminder.subject %>
        (<%= pluralize reminder.days_before, 'day before', 'days before' %>)
      </h3>
      <p>
        <%= link_to 'Edit', edit_space_reminder_path(space, reminder) %>,
        <%= link_to 'Remove', space_reminder_path(space, reminder), method: :delete, confirm: 'Really remove this reminder?' %>
      </p>
    </li>
  <% end %>
</ul>
