<h1>New Reminder</h1>

<%= form_for @reminder, url: space_reminders_path(space) do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.label :days_before %>
  <%= f.text_field :days_before %>

  <%= f.submit 'Set Reminder' %>
<% end %>
